@define-color background #0b1512;
@define-color foreground #dfede9;
@define-color color0 #0b1512;
@define-color color1 #44B13E;
@define-color color2 #67CD3B;
@define-color color3 #289347;
@define-color color4 #249762;
@define-color color5 #47AA4A;
@define-color color6 #A4D744;
@define-color color7 #9dc9bc;
@define-color color8 #6d8c83;
@define-color color9 #86d382;
@define-color color10 #a6e28c;
@define-color color11 #51d076;
@define-color color12 #4dd496;
@define-color color13 #89ce8b;
@define-color color14 #cde998;
@define-color color15 #dfede9;